:root {
  --branding-color: #00eecd;
  --secondary-color: #f2f2f2;
  --name-font-family: "Satisfy", cursive;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  color: var(--branding-color);
  font-family: "Satisfy", cursive;
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 48px;
}
p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.7;
}
nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  line-height: 42px;
  list-style: none;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

footer .email-link {
  color: #000000;
  font-size: 24px;
  text-decoration: none;
}
footer .email-link:hover {
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}
footer .social-links a {
  background: var(--secondary-color);
  border-radius: 50%;
  color: var(--branding-color);
  font-size: 18px;
  margin: 0 20px;
  padding: 10px 14px;
}
footer .social-links a:hover {
  color: #ffffff;
  background: var(--branding-color);
  transition: all 100ms ease-in-out;
}
footer .contact-box {
  background: var(--secondary-color);
  border-radius: 10px;
  padding: 30px 120px;
}

.skills {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.skills i {
  color: var(--branding-color);
  font-size: 30px;
  text-align: center;
}

.skills p {
  font-size: 14px;
}
@media (max-width: 460px) {
  .skills i {
    font-size: 6px;
  }
  .skills p {
    font-size: 6px;
  }
  .logo{
    max-width: 60px;
    margin-top: 10px;
  }
}

.editing-skills img {
  max-width: 35px;
}

.editing-skills p {
  font-size: 14px;
}

.logo {
  max-height: 40px;
}

.hero-image {
  max-width: 500px;
  margin-top: -105px;
}
.hero-button:hover {
  color: #ffffff;
}

.hero {
  background: linear-gradient(
    112deg,
    rgb(0, 0, 0) 60%,
    rgb(182, 182, 182) 100%
  );
  max-height: 685px;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 20px;
}
.hero p {
  color: #ffffff;
  font-family: var(--heading-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 7px;
}

.hero h2 {
  color: #ffffff;
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px, 30px;
}
.btn-branding-outline {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px, 30px;
}
.project-description {
  padding: 120px 60px;
}

.resource-links a {
  color: #000000;

  text-decoration: none;
}
.resource-links a:hover {
  color: var(--branding-color);

  transition: all 100ms ease-in-out;
}
.scroll a {
  color: var(--branding-color);
  font-size: 12px;
  text-decoration: none;
}

@media (max-width: 1378px) {
  .hero-image {
    max-width: 400px;
  }
  .hero {
    max-height: 560px;
  }
}
@media (max-width: 1025px) {
  .hero-image {
    max-width: 380px;
  }
  .hero {
    max-height: 535px;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 40px;
  }
  .hero-image {
    display: none;
  }

  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
}

/* About Page*/
.about-page-image {
  border-radius: 15px;
}
.content-container {
  padding: 60px 20px;
}

.content {
  margin: 30px;
}
.content h1 {
  color: #000000;
  font-family: var(--heading-font-family);
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
}

.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
}

.content p {
  font-size: 14px;
}
