:root {
  --branding-color: #00eecd;
  --name-font-family: "Satisfy", cursive;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(
    90deg,
    rgb(67, 65, 65) 0%,
    rgb(132, 130, 130) 100%
  );
  font-family: var(--default-font-family);
  margin: auto;
  padding-top: 140px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  color: var(--branding-color);
  font-family: "Satisfy", cursive;
  font-size: 96px;
}

.hero {
  align-content: end;
  border-bottom: solid #393939 5px;
  margin-right: -300px;
  max-height: 488px;
  text-align: center;
  padding: 160px, 5px;
}
.hero p {
  color: #ffffff;
  font-family: var(--heading-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 7px;
}

.hero h2 {
  color: #ffffff;
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 26px;
  line-height: 2;
}
.hero-image {
  display: flex;
  margin-left: -430px;
  margin-top: -550px;
  max-width: 1200px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px, 30px;
}

@media (max-width: 1023px) {
  .hero {
    border-bottom: none;
    text-align: center;
    margin: auto;
  }
  .hero p {
    font-size: 25px;
  }
  .name-header {
    font-size: 50px;
  }
  .hero h2 {
    font-size: 15px;
  }
  .btn-branding {
    font-size: 14px;
    padding: 10px, 25px;
  }
  .hero-image {
    display: none;
  }
}
