:root {
  --branding-color: #00eecd;
  --secondary-color: #dafffa;
  --name-font-family: "Satisfy", cursive;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  color: var(--branding-color);
  font-family: "Satisfy", cursive;
  font-size: 96px;
}
h2 {
  font-size: 64px;
}
p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.7;
}

.hero {
  background: linear-gradient(
    90deg,
    rgb(67, 65, 65) 0%,
    rgb(132, 130, 130) 100%
  );
  max-height: 665px;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 20px;
}
.hero p {
  color: #ffffff;
  font-family: var(--heading-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 7px;
}

.hero h2 {
  color: #ffffff;
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.hero-image {
  display: flex;
  align-items: start;
  width: 1350px;
  margin-left: -600px;
  margin-top: -300px;
}
/*.hero-image {
  display: flex;
  margin-left: -430px;
  margin-top: -550px;
  max-width: 1200px;
} */

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px, 30px;
}
.btn-branding-outline {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px, 30px;
}
.project-description {
  padding: 120px 60px;
}

@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
}
/*
  .hero {
    border-bottom: none;
    text-align: center;
    margin: auto;
  }
  .hero p {
    font-size: 25px;
  }
  .name-header {
    font-size: 50px;
  }
  .hero h2 {
    font-size: 15px;
  }
  .btn-branding {
    font-size: 14px;
    padding: 10px, 25px;
  }
  .hero-image {
    display: none;
  }
}
*/
